/* Шапка */
.b-header

  &__logo
    display: inline-block
    float: left
    width: 200px
    margin: 10px 20px

  &__attributes
    overflow: hidden
    width: 600px

  &__name
    margin: 0
    padding: 10px 0 0
    font-size: 2em
    font-weight: bold