/* Основной контент  */
.b-main
  width: 700px


.b-question
  padding-left: 30px

  &__title
    margin: 10px 0
    font-weight: bold
    font-size: 1.2em

  &__list
    margin: 0 0 5px
    padding: 0
    list-style: none

    &_inner
      padding: 0 0 10px 20px
      font-weight: bold
      font-style: italic
      font-size: (13/16)*1em

      .b-question__item
        position: relative
        margin-top: 5px
        padding: 0
        border: 0

        &:after, &:before
          position: absolute
          top: 8px
          left: -1.8%
          width: 0
          height: 0
          border: solid transparent
          border-left-color: #000
          content: " "
          pointer-events: none

        &:after
          margin-top: -4px
          border-width: 4px

        &:before
          margin-top: -4px

  &__item
    display: block
    margin-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #ccc

    &:first-child
      margin-top: 0

  &__number
    float: left
    margin-right: 100px
    width: 100px
    font-size: (13/16)*1em

  &__interactive
    overflow: hidden

  &__text
    margin: 0 0 10px
    font-weight: bold
    font-size: (14/16)*1em

  &__label
    display: block

  &__checkbox
    position: relative
    top: 1px
    margin-right: 5px

  &__answer
    display: block
    margin: 20px 0 0
    width: 100%
    height: 100px
    resize: vertical
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.3)
    border: 1px solid #c0c0c0