/* Основной контент  */
.b-main
  padding-left: 30px
  width: 700px

/* Список вопросов */
.b-question

  &__title
    margin: 10px 0
    font-weight: bold
    font-size: 1.2em

  &__list
    margin: 0 0 5px
    padding: 0
    list-style: none

    &_inner
      padding: 0 0 10px 20px
      font-weight: bold
      font-style: italic
      font-size: (13/16)*1em

      .b-question__item
        position: relative
        margin-top: 5px
        padding: 0
        border: 0

        &:after, &:before
          position: absolute
          top: 8px
          left: -1.8%
          width: 0
          height: 0
          border: solid transparent
          border-left-color: #000
          content: " "
          pointer-events: none

        &:after
          margin-top: -4px
          border-width: 4px

        &:before
          margin-top: -4px

  &__item
    display: block
    margin-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #ccc

    &:first-child
      margin-top: 0

  &__visibility
    display: inline-block
    float: left
    margin-right: 5px
    width: 16px
    height: 16px
    background: url(../img/plus_minus.png) no-repeat 0 -16px
    cursor: pointer

    &_state_plus
      background-position: 0 0

  &__number
    float: left
    margin-right: 100px
    width: 100px
    font-size: (13/16)*1em

  &__interactive
    overflow: hidden

    &_state_hidden
      display: none

  &__text
    margin: 0 0 10px
    font-weight: bold
    font-size: (14/16)*1em

  &__label
    display: block

  &__checkbox
    position: relative
    top: 1px
    margin-right: 5px

  &__answer
    display: block
    margin: 20px 0 0
    width: 100%
    height: 100px
    border: 1px solid #c0c0c0
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2)
    resize: vertical

/* Стандартная форма с рег.данными */
.b-about
  margin-top: 30px

  &__title
    margin: 10px 0
    font-weight: bold
    font-size: 1.2em

  &__form
    display: block

  &__label
    display: block
    padding: 5px 0
    font-size: (13/16)*1em

    &_empty-name
      padding-left: 220px

    &_another-offer
      display: none

      &_state_visible
        display: block

  &__partial-name
    display: inline-block
    float: left
    width: 220px

    &_email
      font-weight: bold

  &__our-offer
    display: block
    margin-bottom: 10px

  &__input
    padding: 3px 5px
    width: 100%
    height: 24px
    border: 1px solid #c0c0c0
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.2)

    &_another
      display: none

  &__answer
    overflow: hidden

  &__textarea
    display: block
    margin: 0
    width: 100%
    height: 100px
    border: 1px solid #c0c0c0
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2)
    resize: vertical

  &__rights
    position: relative
    top: -2px
    padding-left: 3px
    font-weight: bold
    font-size: (13/16)*1em

  &__control-buttons
    margin: 5px 0
    background: #c0c0c0
    text-align: center
    padding: 5px 0
    font-size: (13/16)*1em

    button
      margin: 0 10px