html, body
  height: 100%

body
  font: normal 16px "Arial", Tahoma, Verdana
  background: #fff

.b-page
  min-height: 100%

.b-percents
  position: fixed
  width: 200px
  height: 20px
  top: 0
  right: 0
  background: #cccccc
  color: #333
  font-size: (14/16)*1em
  text-align: center

@import "_b-header.styl"
@import "_b-main.styl"
@import "_b-footer.styl"